.btn {
  display: inline-flex;
  justify-content: center;
  color: $color-default-white;
  background-color: $color-navy-blue;
  border: 1px solid $color-navy-blue;
  cursor: pointer;
  transition: opacity $trans-default;

  @include hover-focus {
    color: $color-resolution-blue;
    background-color: $color-default-white;
    border-color: $color-resolution-blue;
  }

  @include focus {
    outline: none;
  }

  @include active {
    color: $color-default-white;
    background-color: $color-resolution-blue;
    border-color: $color-resolution-blue;
  }

  &:disabled {
    pointer-events: none;
    cursor: default;
    color: $color-default-white;
    background-color: $color-nobel;
    border-color: $color-nobel;
  }
}

.btn--text {
  padding: 19px;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
}

.btn--arrow {
  padding: 12px 10px;
}
