.btn {
  display: inline-flex;
  justify-content: center;
  color: inherit;
  background-color: $color-transparent;
  border: none;
  cursor: pointer;
  transition: opacity $trans-default;

  @include focus {
    outline: none;
  }

  &:disabled {
    pointer-events: none;
    cursor: default;
  }
}
