.contacts__container {
  padding-top: 65px;
  padding-bottom: 95px;
  min-height: 484px;

  @include vp-1199 {
    padding-top: 40px;
    padding-bottom: 40px;
    min-height: 0;
  }
}

.contacts__title {
  font-size: 35px;
  font-weight: 800;
  line-height: 35px;
  margin: 19px 0 26px;

  @include vp-1199 {
    font-size: 25px;
    line-height: 25px;
    margin: 15px 0 20px;
  }

  @include vp-767 {
    font-size: 22px;
    line-height: 22px;
    margin: 6px 0 12px;
  }

  &::before {
    content: "Контакты";
    position: absolute;
    top: 65px;
    left: 0;
    margin: 0;
    font-size: 55px;
    line-height: 55px;
    color: fade-out($color-elephant, 0.97);

    @include vp-1199 {
      top: 40px;
      left: 45px;
      font-size: 40px;
      line-height: 40px;
    }

    @include vp-767 {
      left: 15px;
      font-size: 26px;
      line-height: 26px;
    }
  }
}

.contacts__container > p {
  margin: 0 0 50px;
  max-width: 500px;

  @include vp-1199 {
    margin-bottom: 40px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 30px;
  }
}

.contacts__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 35px;

  @include vp-1199 {
    flex-direction: row;
    margin-bottom: 40px;
    gap: 40px;
  }

  @include vp-767 {
    flex-direction: column;
    margin-bottom: 30px;
    gap: 30px;
  }
}

.contacts__item {
  position: relative;
  padding-left: 56px;

  @include vp-1199 {
    padding-left: 34px;
  }

  @include vp-767 {
    padding-left: 32px;
  }
}

.contacts__item svg {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  @include vp-1199 {
    top: 0;
    transform: translateY(0);
    width: 24px;
    height: 24px;
  }

  @include vp-767 {
    width: 22px;
    height: 22px;
  }
}

.contacts__item-title {
  margin: 0 0 8px;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;

  @include vp-1199 {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 6px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 8px;
  }
}

.contacts__item-description {
  margin: 0;

  @include vp-1199 {
    font-size: 14px;
    line-height: 22px;
  }

  @include vp-767 {
    line-height: 20px;
  }
}

.contacts__map {
  position: absolute;
  bottom: 95px;
  right: 0;

  @include vp-1199 {
    position: relative;
    bottom: 0;
    margin: 0 -45px;
  }

  @include vp-767 {
    margin: 0 -15px;
  }
}

.contacts__map img {
  @include vp-1199 {
    object-fit: cover;
    height: 340px;
  }

  @include vp-767 {
    height: 320px;
  }
}

.contacts__map svg {
  position: absolute;
  bottom: 116px;
  left: 360px;

  @include vp-1199 {
    bottom: 118px;
    left: 50%;
    height: 38px;
  }

  @include vp-767 {
    bottom: 122px;
    height: 26px;
  }
}
