.footer {
  border-top: 1px solid fade-out($color-elephant, 0.8);
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  gap: 22px;

  @include vp-1199 {
    padding-top: 34px;
    padding-bottom: 20px;
    gap: 34px;
  }

  @include vp-767 {
    padding-top: 23px;
    gap: 23px;
  }
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 60px;
  gap: 25px;

  @include vp-1199 {
    min-height: 42px;
  }

  @include vp-767 {
    flex-direction: column;
    gap: 23px;
  }
}

.footer__wrapper svg {
  flex-shrink: 0;
  margin: 9px 29px;

  @include vp-1199 {
    margin: 0;
  }
}

.footer__nav {
  @include vp-767 {
    width: 100%;
  }
}

.footer__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 40px;
  list-style: none;
  gap: 30px;

  @include vp-1199 {
    padding: 0;
    gap: 20px;
  }

  @include vp-767 {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}

.footer__phone {
  flex-shrink: 0;

  @include vp-1199 {
    display: none;
  }
}
