.gallery__container {
  padding-top: 1px;
  padding-bottom: 45px;

  @include vp-1199 {
    padding-bottom: 21px;
  }

  @include vp-767 {
    padding-bottom: 65px;
  }
}

.gallery__title {
  font-size: 35px;
  font-weight: 800;
  line-height: 35px;
  margin: 22px 0 24px;

  @include vp-1199 {
    font-size: 25px;
    line-height: 25px;
    margin: 17px 0;
  }

  @include vp-767 {
    font-size: 22px;
    line-height: 22px;
    margin: 6px 0 14px;
  }

  &::before {
    content: "Фотогалерея";
    position: absolute;
    top: 5px;
    left: 0;
    margin: 0;
    font-size: 55px;
    line-height: 55px;
    color: $color-elephant-03;

    @include vp-1199 {
      left: 45px;
      font-size: 40px;
      line-height: 40px;
    }

    @include vp-767 {
      top: 3px;
      left: 15px;
      font-size: 26px;
      line-height: 26px;
    }
  }
}

.gallery__container p {
  margin: 0;
  width: 693px;

  @include vp-1199 {
    width: 420px;
    font-size: 14px;
    line-height: 22px;
  }

  @include vp-767 {
    width: 290px;
    font-size: 12px;
    line-height: 18px;
  }
}

.gallery__button-container {
  position: absolute;
  top: 88px;
  right: 0;
  display: flex;
  gap: 6px;

  @include vp-1199 {
    top: 91px;
    right: 45px;
  }

  @include vp-767 {
    top: 130px;
    right: 15px;
  }
}

.gallery__swiper {
  @include vp-767 {
    margin: 0 15px;
  }
}

.gallery__swiper-wrapper {
  margin: 0;
  padding: 0 0 3px;
  list-style: none;

  @include vp-1199 {
    padding-bottom: 0;
  }
}

.gallery__swiper-slide {
  &:nth-child(2n) {
    width: calc((100vw - 850px) / 2);
  }

  &:nth-child(2n+1) {
    width: 275px;
  }
}

.gallery__img img {
  width: 100%;
  object-fit: cover;
}

.gallery__img--high img {
  height: 449px;

  @include vp-1199 {
    height: 450px;
  }

  @include vp-767 {
    height: 260px;
  }
}

.gallery__img--top img {
  height: 179px;
  margin-bottom: 5px;

  @include vp-1199 {
    height: 180px;
  }

  @include vp-767 {
    height: 100px;
    margin-bottom: 3px;
  }
}

.gallery__img--bottom img {
  height: 265px;

  @include vp-767 {
    height: 157px;
  }
}
