.hero__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hero__item {
  position: relative;
}

.hero__container {
  color: $color-default-white;
  padding-top: 200px;
  min-height: 800px;

  @include vp-1199 {
    padding-top: 212px;
    min-height: 1024px;
    text-align: center;
  }

  @include vp-767 {
    padding-top: 140px;
    min-height: 568px;
  }
}

.hero img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  background-color: $color-elephant;
}

.hero__container h2 {
  font-size: 77px;
  font-weight: 800;
  line-height: 77px;
  margin: 0 0 25px;
  width: 945px;

  @include vp-1199 {
    font-size: 56px;
    line-height: 56px;
    margin: 0 auto 15px;
    width: 670px;
  }

  @include vp-767 {
    font-size: 26px;
    line-height: 26px;
    width: 100%;
  }
}

.hero__container p {
  font-size: 17px;
  margin: 0 0 35px;
  width: 464px;

  @include vp-1199 {
    margin: 0 auto 25px;
    width: 473px;
  }

  @include vp-767 {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 60px;
    width: 100%;
  }
}

.hero__btn {
  width: 180px;
  border-radius: 6px;

  @include vp-1199 {
    border-radius: 0;
  }
}

.hero__pagination.swiper-pagination {
  bottom: 97px;
  text-align: end;

  @include vp-1199 {
    bottom: 40px;
    text-align: center;
  }
}
