.reviews__container {
  padding-top: 30px;

  @include vp-1199 {
    padding-top: 37px;
    padding-bottom: 41px;
  }

  @include vp-767 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.reviews__title {
  font-size: 35px;
  font-weight: 800;
  line-height: 35px;
  margin: 23px 0 27px;

  @include vp-1199 {
    font-size: 25px;
    line-height: 25px;
    margin: 18px 0 41px;
  }

  @include vp-767 {
    font-size: 22px;
    line-height: 22px;
    margin: 11px 1px 17px;
  }

  &::before {
    content: "Отзывы";
    position: absolute;
    top: 36px;
    left: 0;
    margin: 0;
    font-size: 55px;
    line-height: 55px;
    color: fade-out($color-elephant, 0.97);

    @include vp-1199 {
      top: 42px;
      left: 45px;
      font-size: 40px;
      line-height: 40px;
    }

    @include vp-767 {
      top: 34px;
      left: 15px;
      font-size: 26px;
      line-height: 26px;
    }
  }
}

.reviews__button-container {
  position: absolute;
  display: flex;
  top: 40px;
  right: -1px;
  gap: 6px;

  @include vp-1199 {
    top: 44px;
    right: 45px;
  }

  @include vp-767 {
    top: 30px;
    right: 15px;
  }
}

.reviews__swiper {
  padding: 10px;

  @include vp-1199 {
    margin: -5px 0;
    padding: 20px 0;
  }

  @include vp-767 {
    margin: -15px;
    padding: 15px;
  }
}

.reviews__swiper-wrapper {
  margin: 0;
  padding: 0;
  list-style: none;
}

.reviews__swiper-slide {
  display: flex;
  width: 700px;
  min-height: 293px;
  padding: 20px 40px 20px 20px;
  box-shadow: 0 0 20px 0 rgba(28, 51, 116, 0.1);
  background-color: $color-default-white;
  gap: 30px;

  @include vp-1199 {
    width: 565px;
    min-height: 277px;
    padding: 20px 30px 20px 20px;
  }

  @include vp-767 {
    flex-direction: column;
    width: 100%;
    padding: 20px 20px 17px;
    gap: 19px;
  }
}

.reviews__swiper-slide picture {
  flex-shrink: 0;

  @include vp-767 {
    width: 100%;
  }
}

.reviews__swiper-slide img {
  @include vp-767 {
    width: 100%;
    height: 169px;
    object-fit: cover;
  }
}

.reviews__content-wrapper {
  @include vp-1199 {
    align-self: flex-end;
  }

  @include vp-767 {
    align-self: flex-start;
  }
}

.reviews__content-wrapper p {
  margin: 0 0 10px;
  font-size: 14px;
  line-height: 22px;

  @include vp-1199 {
    font-size: 12px;
    line-height: 18px;
  }

  @include vp-767 {
    padding-right: 10px;
  }

  &:last-of-type {
    margin-bottom: 3px;

    @include vp-1199 {
      margin-bottom: 23px;
    }

    @include vp-767 {
      margin-bottom: 15px;
    }
  }
}

.reviews__content-wrapper h3 {
  margin: 0;
  font-size: 13px;
  font-weight: 700;
  line-height: 13px;

  @include vp-767 {
    font-size: 12px;
    line-height: 12px;
  }
}

.reviews__content-wrapper span {
  margin: 0;
  font-size: 12px;
  font-weight: 300;
  line-height: 12px;
}
