// Colors
// ---------------------------------

// Default

$color-default-black: #000000;
$color-default-white: #ffffff;
$color-transparent: rgba(255, 255, 255, 0);

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

$color-elephant: #2d383f;
$color-navy-blue: #0266c1;
$color-resolution-blue: #1C3374;
$color-nobel: #999999;

// Gradient

$gradient-black-russian: linear-gradient(112deg, rgba(15, 20, 41, 0.33) 17.23%, rgba(15, 20, 41, 0.00) 94.93%);
$gradient-black: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 22.3%, rgba(0, 0, 0, 0.00) 60.32%);

// Typography
// ---------------------------------

$fw-default: 400;
$fz-default: 16px;
$lh-default: 24px;
$ff-default: "Montserrat", "Verdana", sans-serif;

// Animation
// ---------------------------------

$trans-default: 0.3s ease;

// Viewports
// ---------------------------------

$vp-320: 320px;
$vp-768: 768px;
$vp-1200: 1200px;
