// Colors
// ---------------------------------

// Default

$color-default-black: #000000;
$color-default-white: #ffffff;
$color-transparent: rgba(255, 255, 255, 0);

// Project palette

$color-elephant: #2d383f;
$color-navy-blue: #0266c1;
$color-resolution-blue: #1c3374;
$color-nobel: #999999;
$color-torch-red: #ff121f;

// Typography
// ---------------------------------

$fw-default: 400;
$fz-default: 16px;
$lh-default: 24px;
$ff-default: "Montserrat", "Verdana", sans-serif;

// Animation
// ---------------------------------

$trans-default: 0.3s ease;

// Viewports
// ---------------------------------

$vp-320: 320px;
$vp-768: 768px;
$vp-1200: 1200px;
