// Colors
// ---------------------------------

// Default

$color-default-black: #000000;
$color-default-white: #ffffff;
$color-transparent: rgba(255, 255, 255, 0);

// Project palette

$color-elephant: #2d383f;
$color-elephant-50: rgba(44, 56, 63, 0.5);
$color-elephant-20: rgba(44, 56, 63, 0.2);
$color-elephant-03: rgba(44, 56, 63, 0.03);
$color-navy-blue: #0266c1;
$color-navy-blue-50: rgba(2, 102, 193, 0.5);
$color-navy-blue-20: rgba(2, 102, 193, 0.2);
$color-navy-blue-10: rgba(2, 102, 193, 0.1);
$color-resolution-blue: #1c3374;
$color-nobel: #999999;
$color-torch-red: #ff121f;
$color-white-50: rgba(255, 255, 255, 0.5);
$color-white-20: rgba(255, 255, 255, 0.2);

// Typography
// ---------------------------------

$fw-default: 400;
$fz-default: 16px;
$lh-default: 24px;
$ff-default: "Montserrat", "Verdana", sans-serif;

// Animation
// ---------------------------------

$trans-default: 0.3s ease;

// Viewports
// ---------------------------------

$vp-320: 320px;
$vp-768: 768px;
$vp-1200: 1200px;
